i, .fa
    margin-right 5px

.hero.is-primary
    .title.brand
        font-weight: 800
        color: rgba(255,255,255,0.7)
    a.nav-item
        &:hover
            color: white
            .title
                color white

.tada
    margin-right 10px
    vertical-align: middle
