<article class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Play with a friend! Share this address
      </h1>
      <div class="control has-addons">
        <input type="text" class="input is-expanded is-large" disabled />
        <button class="button is-primary is-inverted is-outlined is-large">
          Copy
        </button>
      </div>
      <h2 class="subtitle is-2">
        <a>
          <i class="fa fa-play animated shake"></i>
          <u>Go to lobby!</u>
        </a>
      </h2>
    </div>
  </div>
</article>

<article>
  <div class="content">
    <h2 class="title">About</h2>
    <hr>
    <p>It's time to play a guessing game with your friends!</p>
    <p>
      This website was built to allow 2 people play a guessing game by drawing.
      <small>Creativity is a prerequisite</small>
    </p>
  </div>
  <div class="content">
    <h2 class="title">Rules</h2>
    <hr>
      <ol>
        <li>If you're drawing, please, make sure your art is understadable 😊&#xFE0E;</li>
        <li>For the guessing people, you have <strong>60 seconds</strong> to give a hint</li>
        <li>Collect points and go to the 🔝&#xFE0E;</li>
      </ol>
  </div>
  <div class="content">
    <h2 class="title">Tech</h2>
    <hr>
    <p>This is only a proof of concept, this is not for production</p>
    <p>If you're interested in how it was made</p>
      <ul>
        <li>Node</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>Socket.io</li>
        <li>AngularJS</li>
        <li>ES6</li>
        <li><a href="https://github.com/raphaklaus/sketch-guess" target="_blank">Source</a></li>
      </ul>
  </div>
</article>
